<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform 
      processPath="python"
      arguments="app.py"
      stdoutLogEnabled="true"
      stdoutLogFile="D:\home\LogFiles\python.log"
      startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot;D:\home\site\wwwroot\.python_packages\lib\site-packages" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
